# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\360驱动大师目录\LibraryForSpringBootAndReact-master\LibraryForSpringBootAndReact-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
